$font-proyect: 'Nunito', sans-serif;
    
h1,h2,h3,h4,h5,h6,a
    font-family: $font-proyect
    font-weight: 700
    margin: 0

p
    font-family: $font-proyect
    margin: 0

a
    text-decoration: none

/** Colores **/

$color-lightblue: #EEFAFF
$color-beige: #FFF4CD
$color-violet: #f4ebff
$color-white: #ffffff
$color-blue: #0079eb
$color-blue-hover: #0064c2
$texto-enlaces: #2B2B2B